<!-- Modal Card Body -->
<div class="modal-card-body">
  <p class="is-7 title">
    Görüş ve sorularınız için <a href="mailto:info@marketsiparisim.com">info@marketsiparisim.com</a> adresine email gönderebilirsiniz.
  </p>
  <table class="table is-fullwidth is-striped is-narrow">
    <tbody>
      <tr>
        <td><small>Şirket Ünvanı</small> </td>
        <td>Eternal Internet Hizmetleri ve Bilişim Teknolojileri LTD. ŞTİ.</td>
      </tr>
      <tr>
        <td><small>Sorumlu Kişiler</small> </td>
        <td>Hülya Ağcam Beklevik</td>
      </tr>
      <tr>
        <td><small>Ticaret Sicil No.</small> </td>
        <td>76000A361</td>
      </tr>
      <tr>
        <td><small>Adres</small> </td>
        <td>Kayalıbağ mh. Turhan Cemal Beriker blv. Ziya Algan İş Merkezi no:9 / 806 Seyhan / ADANA.</td>
      </tr>
      <tr>
        <td><small>Telefon No.</small> </td>
        <td>+90 322 352 54 69</td>
      </tr>
      <tr>
        <td><small>KEP Adresi</small> </td>
        <td>eternalinternethizmetleri@hs02.kep.tr</td>
      </tr>
      <tr>
        <td><small>Tescilli Marka Adı</small> </td>
        <td>Market Siparişim</td>
      </tr>
      <tr>
        <td><small>Mersis No.</small> </td>
        <td>0381049644600001</td>
      </tr>
    </tbody>
  </table>
</div>
